<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LTEExcelAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <userSettings>
    <LTEExcelAddIn.Properties.Settings>
      <setting name="Server" serializeAs="String">
        <value>192.168.1.4</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>lte_energo</value>
      </setting>
      <setting name="User" serializeAs="String">
        <value>wges</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>1111</value>
      </setting>
      <setting name="Character" serializeAs="String">
        <value>utf8</value>
      </setting>
      <setting name="TitleName" serializeAs="String">
        <value>Львівтеплоенерго</value>
      </setting>
      <setting name="Query" serializeAs="String">
        <value>SELECT
    *
FROM
    motors_lte;</value>
      </setting>
      <setting name="SizeSQLQueryForm" serializeAs="String">
        <value>450, 350</value>
      </setting>
      <setting name="LocationSQLQueryForm" serializeAs="String">
        <value>100, 100</value>
      </setting>
    </LTEExcelAddIn.Properties.Settings>
  </userSettings>
</configuration>